.swiper {
  --swiper-theme-color: #502a17 !important;
}

.imgCarrousel {
    width: 100%;
    min-width: 100%;
    height: auto;
}

.fondo {
  /* background: linear-gradient(0deg, rgb(252, 235, 182) 0%, rgb(120, 192, 168) 100%); */
  /* Beige #f5f5dc */
  background: rgba(245, 245, 220);
}

.Card {
  padding-bottom: 40px;
}